@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Comfortaa:wght@700&family=Monoton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    background-color:darkgray;
    position:fixed;
    width: 100%;
    padding: 15px 0;

}
.nav-container{
    max-width: 1300px;
    padding: 0 70px;
    margin: auto;
}

header .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a{
    color: rgb(0, 255, 255);
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Comfortaa', sans-serif;
}
.logo a span{
    color: rgb(255, 0, 0);
}
header ul li{
    list-style: none;
    display: inline-block;
}

header ul li a{
    color: rgb(250, 0, 0);
    font-size: 22px;
    font-weight: 500;
    margin-left: 25px;
    padding: 8px;
    border: 1px solid rgb(155, 149, 149) none;
    
}
header ul li a:hover{
    color:cyan;
    background-color: rgba(99, 93, 93, 0.452);
    border-radius: 4px;
    /* transition: all .1s; */
}
/* Home-Section */
#home{
    height: 100vh;
    background-color: rgb(37, 30, 30);
}
.home-container{
    padding-left: 37%;
    padding-right: 37%;
    padding-top: 5.8%;
    padding-bottom: 1%;
    margin-top:0px;
    margin-left: 2px;
    margin-right: 2px;
}
.home-container .img{
    background-color: rgb(38, 164, 202);
}
.home-container img{
    position: relative;
    top: 1.5rem;
    left: 22.2%;
    width: 200px;
    height: 200px;
    border: 5px solid crimson;
    border-radius: 50%;
}

.hi{
    margin-left: 10rem;
    margin-top: 1.5rem;
    font-size: 40px;
    color: black;
    font-weight: 600;
}
.ibrahim{
    margin-left: 10rem;
    font-size: 20px;
    font-weight: 500;
}
.ibrahim-name{
    margin-left: 5rem;
    font-size: 40px;
    font-weight: 700;
    color: crimson;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.img a .btn{
    text-decoration: none;
    color: white;
    background-color: rgb(255, 0, 0);
    font-size: large;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-left: 8.45rem;
    margin-bottom: .3rem;
   
}
.img a .btn:hover{
    background-color: rgb(46, 18, 18);
    color: cyan;
    box-shadow: 2px 2px rgb(0, 255, 255);
}
.welcome{
    margin-left: 35px;
    margin-right: 30px;
}
.intro{
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.intro span{
    color: cyan;
    font-size: 25px;
}
.intro a{
    color: red;
}
/* Home-Section Ends*/
#education{
}
#education .education-container{
    background-color:#2b2d42;
    padding: 55px;
    height:100vh;
}
.background{
    text-align: center;
    font-size: 45px;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin:auto;
    background-color: #2b2d42;
}
span{
    color: crimson;
    font-weight: bolder;
}
table{
    padding: 10px;
    margin: 10px auto;
    background-color:#ADFCFE;
}
td, tr, th{
    font-size: 25px;
    padding: 20px 40px;
    text-align: center;
}
th{
    font-size: 35px;
    font-weight: bolder;
    color: rgba(8, 52, 250, 0.877);
}
/* education-Section Ends*/
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    height: 100vh;
}
.skills .skills-content,.contact .contact-conten{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 80%;
}
.skills-content .right .php::before{
    width: 50%;
}
.skills-content .right .mysql::before{
    width: 70%;
}
/* contact-section */
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}
